.font-khula {
  font-family: "Khula", sans-serif;
}

.font-heebo {
  font-family: "Heebo", sans-serif;
}

#quote-content {
  font-family: "EB Garamond", serif;
  font-size: 4rem;
  line-height: 4rem;
  color: #596359;
}

#big-quotation-mark {
  font-family: "Heebo", sans-serif;
  font-size: 30rem;
  line-height: 24rem;
}

a, a:hover {
  color: #28a745 !important;
}
